/**
 * WAP Project:     Document Object Model (DOM) Inspector
 * Author:          Bc. Viliam Kasala, xkasal01@stud.fit.vutbr.cz
 * Description:     Implement simple document object model inspector
**/

/*
 * Dom inspector panel CSS properties.
 */

/*
    Wrapper element for panel.
*/
#dom-inspector-wrapper {
    width: 370px;
    height: 100%;
    background-color: #f4f7f8;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 105%;
    float: right;
    font-family: sans-serif;
    display: block;
    border-left: thin solid black;
    border-bottom: thin solid black;
}

/*
    Dom Items panel.
*/
#dom-items-panel {
    height: 78%;
    border: thin dashed #0095dd;
    margin-left: 2%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Dom attribute panel */
#dom-attribute-panel {
    margin-left: 2%;
    margin-right: 1%;
    border: thin dashed #0095dd;
    height: 20%;
    overflow: auto;
}

/* Dom items panel content */
#dom-items-panel-content {
    background: lightyellow;
    height: 90%;
    border: dotted thin black;
    overflow: auto;
    margin-left: 2%;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

/* Dom title panel */
.dom-panel-title {
    text-align: center;
    font-size: 120%;
    font-family: monospace;
    font-weight: bold;
    margin: 1%;
    color: #0095dd;
    height: 5%;
}

/* Dom attribute panel content. */
.dom-attribute-panel-content-attribute {
    padding: 2%;
    display: block;
}

.block {
    display: block;
}

/* Dom input css. */
input {
    width: 100%;
    line-height: normal;
    font-size: 105%;
}

#dom-items-panel-content ul {
    padding-left: 15px;
    list-style: none;
}

.dom-inspector-panel-content-li li {
    list-style: none;
    padding-left: 10px;
    padding-top: 2px;
}

.dom-packed:before {
    content: "\25B6";

}

#dom-items-panel-content .dom-inspector-panel-content-trigger {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 -14px;
}

.dom-unpacked:before {
    content: "\25BC";
    cursor: pointer;
}

.dom-inspector-panel-content-node {

    border-radius: 9px;
    cursor: pointer;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 4px;
}

.dom-inspector-panel-content-node-color {
    background-color: rgb(199, 248, 250);
}

/* Color of items in dom panel. */
.dom-inspector-panel-content-node-color-onmouseover {
    background-color: #ffbc4c;
}

.dom-inspector-panel-content-text {
    background-color: moccasin;
    border-radius: 8px;
}

.dom-inspector-panel-content-hidden {
    display: none;
}

.dom-inspector-panel-content-shown {
    display: block;
}

.dom-inspector-marker-border {
    border: dotted medium red;
}

.dom-inspector-panel-content-node-selected {
    background-color: #ff7d54
}

.blue {
    color: blue;
}